@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/***************************
*
* Header.js
*
***************************/

.header{
	background-color: #222222;
	display: flex;
	padding: 10px 0;
}

.listNav{
	list-style-type: none;
	color: #ffffff;
	margin-left: 20px;
	display: flex;

}

.listNav li{
	margin-right: 20px;
	margin-top: 5px;
	font-family: 'Source Sans Pro', sans-serif;
} 


.header__secondary:last-of-type .listNav li{
	color: #2196f3;
} 

.header__secondary:last-of-type .listNav li:last-of-type{
	color: #ffffff;
}

.header_link{
	text-decoration: none;
	color: #ffffff;
}




/***************************
*
* Slide.js
*
***************************/

.slide__container{
	width: 100%;
	height: 400px;
	background-image: url(../images/landing-splash-bg.png);
	background-size:cover;
	display: flex;
	justify-content:center;
	align-items: center;
	
}

.slide__texts{
	color: #ffffff;
	text-align: center;
}

.slide__title{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 10%;
}

/***************************
*
* Footer.js
*
***************************/

.footer{
	padding: 3% 0;
}

.footer__image{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background-image: url(../images/mf-logo-black.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.footer__image::before{
	content: '';
	width: 30px;
	height: auto;
	display: block;
	border-bottom: solid 5px #999999;
	position: absolute;
	bottom:  20px;
	left: 40px;

}

.footer__container{
	display: flex;
	justify-content: center;
}

.footer__section{
	margin-top: 2%; 
	margin-right: 15%; 
}

.footer__section:last-of-type{
	margin-right: 0; 
}

.footer__list{
	list-style-type: none;
	line-height: 35px;
}

.footer__section:last-of-type .footer__list li{
	display: inline;
	margin-right:0;
	font-size: 20px;
}

.footer__section:last-of-type .footer__list li:last-of-type{
	margin-right: 0%;
}

.footer__section:last-of-type .footer__title{
	text-align: right;
}

.footer__title{
	color: #f44336;
	font-size: 14px;
}

.footer__list li{
	font-size: 13px;
	font-weight: bold;
}

/***************************
*
* Terms.js
*
***************************/

.terms{
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 2% 0;
}

.terms__title{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding-bottom: 2%;
}

.terms__subTitle{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding-bottom: 2%;
}

.terms__text{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	padding-bottom: 2%;
}


/***************************
*
* All.js
*
***************************/

.all{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}



/***************************
*
* Card.js
*
***************************/

.card{
	width: 33%;
	height: auto;
	border: solid 1px #999999;
	/*-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.4);*/
	margin: 5px 0 0 0 ;
}

.card__container__img{
	width: 100%;
	height: auto;
}

.card__img{
	width: 100%;
	height: auto;
}

.card__title{
	font-size: 12px;
	margin-left: 5px;
}

.card__price{
	font-size: 12px;
	color: #999999;
	margin-left: 5px;

}