*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/***************************
*
* Header.js
*
***************************/

.header{
	background-color: #222222;
	display: flex;
}




